[submodule "simulators/sumo"]
	path = simulators/sumo
	url = https://github.com/argos-research/sumo

[submodule "genode"]
	path = genode
	url = https://github.com/genodelabs/genode

[submodule "tools/genode-world"]
	path = tools/genode-world
	url = https://github.com/argos-research/genode-world
